<script>
  const sites = {
      gli: "https://gnulinuxindia.org/",
      neovoid: "https://neovoid.tk/",
      gtlsgamr: "https://hitarththummar.xyz/",
      hdmtp: "https://hdmtp.github.io/",
      aryak: "https://aryak.vern.cc/",
  } // Site locations based on name

  const order = ['gli', 'neovoid', 'gtlsgamr', 'hdmtp', 'aryak'] // array to get order of names easily

  const queryString = window.location.search; // get url parameter
  const urlParams = new URLSearchParams(queryString); // url parameter object created
  const name = urlParams.get('name') // get the name of the site owner
  const dir = urlParams.get('dir') // get direction in which they want to go
  var dest;

  if (dir == 'next') { // if the direction in next
      if (order.indexOf(name) == (order.length - 1)) {
	  dest = 0
      } 
      else {
	  dest = order.indexOf(name) + 1
      } // if the owner is last in list, move to first site
      const target = sites[order[dest]] // this is the link of the next in ring
      document.write(
	  '<h2>Please wait, while you are being redirected.... If not, please <a href="' + target + '">Click here.</a></h2>' // display message in window
      )
      window.location.replace(target) // redirect to the site
  } else if (dir == 'prev') { // if the direction is previous

      if (order.indexOf(name) == (0)) {
	  dest = order.length - 1
      } 

      else {
	  dest = order.indexOf(name) - 1
      } // if the owner is first in list, move to last site

      const target = sites[order[dest]] // this is link of previous in ring

      document.write(
	  '<h2>Please wait, while you are being redirected.... If not, please <a href="' + target + '">Click here.</a></h2>' // display message in window
      )
      window.location.replace(target) //redirect to site

  }
  </script>
